body {
  background-color: darkcyan;
  margin: 0;
  display: flex;
}

.leftSection {
  width: 52%;
  height: 100vh;
  border-right: 1px solid gray;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 25px;
  align-items: center;
}

.leftSection div {
  text-align: right;
  width: 75%;
  font-family: "Roboto Thin", Arial, sans-serif;
  color: white;
  font-weight: 100;
  font-size: 35px;
}

.leftSection .author {
  text-align: right;
  width: 75%;
  /* font-family: "Roboto Thin", Arial, sans-serif; */
  color: white;
  font-weight: 100;
  font-size: 20px;
}

span {
  font-weight: bold;
}

.rightSection {
  width: 48%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* gap: 25px; */
  align-items: center;
}

button {
  padding: 0;
}

.rightSection button {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  color: white;
  background: none;
  border: none;
  outline: none;
  transition: transform 0.4s cubic-bezier(0.47, 1.64, 0.41, .8); /* Add transition for smooth effect */
}

.rightSection button:hover {
  text-decoration: underline;
}

.centered-wrapper {
  height: 250px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#list {
  flex-direction: column;
  gap: 15px;
  height: 300px;
  display: flex;
  justify-content: start;
  text-align: left;
  font-weight: 100;
  font-size: 35px;
  font-family: "Roboto Thin", Arial, sans-serif;
  color: white;
  transform: translateX(-350px);
  transition: transform 0.4s cubic-bezier(0.47, 1.64, 0.41, .8);
}

.mask {
  overflow: hidden;
  position: relative;
  height: 300px;
  padding: 20px;
}

#insanityBtn {
  font-weight: 100;
  font-size: 18px;
  color: lightgrey;
}
